---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro'; // Tu layout principal

// Filtramos la colecci칩n para traer solo lo que es "Cl치sico"
const obrasClasico = await getCollection('galeria', ({ data }: CollectionEntry<'galeria'>) => {
    return data.epoca === 'Cl치sico';
});
---

<Layout title="Cl치sico | AETERNA">
    <main class="grid-container">
    {obrasClasico.map((obra: CollectionEntry<'galeria'>) => (
        <a href={`/galeria/${obra.slug}`} class="card">
            <div class="card-image" style={`background-image: url('${obra.data.image}');`}></div>
            <div class="card-text">
                <h3>{obra.data.title}</h3>
                <span>{obra.data.epoca}</span>
            </div>
        </a>
    ))}
    </main>
</Layout>