---
import Layout from '../layouts/Layout.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>




    <section class="hero">
        <div class="hero-content">
            <h1>DE LA PIEDRA AL BIT</h1>
            <p class="tagline">Una línea infinita de trascendencia humana.</p>
        </div>
    </section>

    <section class="intro">
        <p>Creemos que el arte no reside en el soporte, sino en la voluntad de trascender. Bienvenidos a un recorrido por la estética del espíritu.</p>
    </section>

    <main class="grid-container">
        
        <a href="prehistoria.html" class="card">
            <div class="card-image" style="background-image: url('/altamira.jpg');"></div>
            <div class="card-text">
                <h3>PREHISTORIA</h3>
                <span>El primer rastro de la conciencia humana.</span>
            </div>
        </a>

        <a href="antiguedad.html" class="card">
            <div class="card-image" style="background-image: url('/egypt-art.jpg');"></div>
            <div class="card-text">
                <h3>ANTIGÜEDAD</h3>
                <span>Monumentos construidos para desafiar al tiempo.</span>
            </div>
        </a>

        <a href="clasico.html" class="card">
            <div class="card-image" style="background-image: url('/greek-bust.jpg');"></div>
            <div class="card-text">
                <h3>CLÁSICO</h3>
                <span>La búsqueda de la armonía y la proporción divina.</span>
            </div>
        </a>

        <a href="medieval.html" class="card">
            <div class="card-image" style="background-image: url('/medieval-art.jpg');"></div>
            <div class="card-text">
                <h3>MEDIEVAL</h3>
                <span>El triunfo de la luz sobre el muro de piedra.</span>
            </div>
        </a>

        <a href="moderna.html" class="card">
            <div class="card-image" style="background-image: url('/flores-barroco.jpg');"></div>
            <div class="card-text">
                <h3>MODERNA</h3>
                <span>El despertar del genio y la perspectiva.</span>
            </div>
        </a>

        <a href="contemporaneo.html" class="card">
            <div class="card-image" style="background-image: url('/monkey-nft.jpg');"></div>
            <div class="card-text">
                <h3>CONTEMPORÁNEO</h3>
                <span>Del sueño surrealista a la frontera del bit.</span>
            </div>
        </a>

    </main>

    <footer class="footer">
        <p>A E T E R N A</p>
        <div class="footer-links">
            <a href="editorial.html">El Manifiesto</a> | <a href="mailto:contacto@aeterna.art">Contacto</a>
        </div>
    </footer>
</Layout>
