---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro'; // Tu layout principal

// Filtramos la colección para traer solo lo que es "Prehistoria"
const obrasPrehistoria = await getCollection('galeria', ({ data }: CollectionEntry<'galeria'>) => {
    return data.epoca === 'Prehistoria';
});
---

<Layout title="Prehistoria | AETERNA">
    <main>
        <section>
            <h1 class="hidden">Prehistoria</h1>
            <h2>La Prehistoria a través del arte</h2>
            <p>Descubre la esencia del arte prehistórico, donde cada trazo y escultura revelan el alma creativa de la humanidad ancestral.</p>
        </section>
        
        <section class="grid-container">
        {obrasPrehistoria.map((obra: CollectionEntry<'galeria'>) => (
            <a href={`/galeria/${obra.slug}`} class="card">
                <div class="card-image" style={`background-image: url('${obra.data.image}');`}></div>
                <div class="card-text">
                    <h3>{obra.data.title}</h3>
                    <span>{obra.data.epoca}</span>
                </div>
            </a>
        ))}
        </section>
    </main>
</Layout>