    <header class="navbar">
        <a href="/" class="logo">A E T E R N A</a>
        <nav>
            <ul class="nav-links">
                <li><a href="/prehistoria">Prehistoria</a></li>
                <li><a href="/antiguedad">Antigüedad</a></li>
                <li><a href="/clasico">Clásico</a></li>
                <li><a href="/medieval">Medieval</a></li>
                <li><a href="/moderna">Moderna</a></li>
                <li><a href="/contemporaneo">Contemporáneo</a></li>
                <li><a href="/editorial">Editorial</a></li>
            </ul>
        </nav>
    </header>