    <header class="navbar">
        <div class="logo">A E T E R N A</div>
        <nav>
            <ul class="nav-links">
                <li><a href="prehistoria.html">Prehistoria</a></li>
                <li><a href="antiguedad.html">Antigüedad</a></li>
                <li><a href="clasico.html">Clásico</a></li>
                <li><a href="medieval.html">Medieval</a></li>
                <li><a href="moderna.html">Moderna</a></li>
                <li><a href="contemporaneo.html">Contemporáneo</a></li>
                <li><a href="/editorial">Editorial</a></li>
            </ul>
        </nav>
    </header>